<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=cp1251">
		<title>Untitled Document</title>
	<link rel="stylesheet" href="css/style.css" type="text/css"> 
	
	</head>
	<body>
	<div id="global">	
		<div id="container2">
			<div id="logo"> </div>
				<div id="menu">
					<ul>
						<li><a href="#null"> Главная</a> </li>
						<li><a href="#null">О Ка Де Бо </a> </li>
						<li><a href="#null">Стандарт породы </a> </li>
						<li><a href="#null">Личная</a> </li>
						<li><a href="#null">Разведение</a> </li>
						<li><a href="#null">Фотогалерея</a> </li>
						<li><a href="#null"><img src=images/menu_09.jpg> </a></li>
						<li><a href="#null">Контакты </a></li>
						</ul>
						</div>
			
			<div id="content">
				<div class="content_text2" >
					<h1>Lorem Ipsum is simply dummy text of the printing </h1>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
				</div>
				<div class="line_fon">
				<div class="line_fon_r"></div>
				<div class="line_fon_l"></div>
				<div class="line_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br> <span>Галлерея постоянно пополняется новыми фото <a class="btn" href="#"><span><span>Отправить сообщение</span></span></a> </span>  </div>
				 </div>
				 <div id="guest_book">
				 	<div class="quest_q">
				 		<div class="theme">
				 			<div class="topic">Lorem Ipsum has?</div> 
							<div class="name_guest">Lorem Ipsum</div>
						</div>	
						<div class="guest_q_t">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industry.  text of the printing and typesetting industry</p>
						
						</div>
						<div class="line_g"> </div>
						<div class="date"> 24.04.05 </div>
						
						
						
						<div class="guest_a"> 
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industry.  text of the printing and typesetting industry</p>
						<div class="line_g2"> </div>
						<div class="theme"><div class="name">Lorem</div><div class="date"> 24.04.05</div>  </div>
						</div>
				 	</div>
					
					<div class="quest_q">
				 		<div class="theme">
				 			<div class="topic">Lorem Ipsum has?</div> 
							<div class="name_guest">Lorem Ipsum</div>
						</div>	
						<div class="guest_q_t">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industry.  text of the printing and typesetting industry</p>
						
						</div>
						<div class="line_g"> </div>
						<div class="date"> 24.04.05 </div>
						
						
						
						<div class="guest_a"> 
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industry.  text of the printing and typesetting industry</p>
						<div class="line_g2"> </div>
						<div class="theme"><div class="name">Lorem </div><div class="date"> 24.04.05</div>  </div>
						</div>
				 	</div>
					
					<div class="list">
					<ul>	
						<li><div class="list_sel">1</div></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
					</ul>
				 </div>
				
			</div>
			
			
			
	
				<div id="futer">
					<div class="futer_left_fon" > </div>
					<div class="futer_right_fon"> </div>
				<div class="futer_menu"> 
				<a href="#null">Обратная связь</a> |  <a href="#null">Посмотреть на карте</a> | <a href="#null">Новости</a> | <a href="#null">Полезная информация </a> 
				</div>
				<div id="copyright">copyright</div>
			</div>
		</div>
	</div>
		<div  id="container1" >
			<div  id="header_fon"></div>
		</div>
		
	</div>
		
		
		
	</body>
</html>
